/* Add these styles to your existing style.css file */

body {
    background-color: #f8f9fa; 
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#main-nav {
    background-color: #007bff; 
    padding: 10px;
    text-align: right;
}

#main-nav a {
    color: #ffffff; 
    margin-right: 10px;
}

h1 {
    color: #007bff; 
}

a {
    color: #007bff; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ced4da; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff; 
    color: #ffffff; 
}

.new-post {
    text-align: right;
    margin-bottom: 20px;
}

.create-post-link {
    color: #28a745; 
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #28a745; 
    border-radius: 5px;
}

.create-post-link:hover {
    background-color: #28a745; /* Bootstrap success color on hover */
    color: #ffffff; 
}


.delete-links {
    color: #dc3545; 
    cursor: pointer;
    margin-right: 10px;
}

.update-links {
    color: #007bff; /* Bootstrap primary color for update links */
    cursor: pointer;
    margin-right: 10px;
}
